ManagerAppNC/ManagerAppNC/ManagerAppNC/bin/
ManagerAppNC/ManagerAppNC/ManagerAppNC/obj/
AutomationNC/AutomationNC/AutomationNC/bin/
AutomationNC/AutomationNC/AutomationNC/obj/
AutomationNC/AutomationNC/Core/bin/
AutomationNC/AutomationNC/Core/obj/
AutomationNC/AutomationNC/ScriptDesigner/bin/
AutomationNC/AutomationNC/ScriptDesigner/obj/
msedgedriver.exe
AutomationNC/AutomationNC/.vs/AutomationNC/v16/.suo
AutomationNC/AutomationNC/ControlUtils/bin/
AutomationNC/AutomationNC/ControlUtils/obj/Debug/netcoreapp3.1/ControlUtils.AssemblyInfo.cs
AutomationNC/AutomationNC/ControlUtils/obj/Debug/
build/*
AutomationNC/AutomationNC/ControlUtils/obj/
