ManagerAppNC/ManagerAppNC/ManagerAppNC/bin/
ManagerAppNC/ManagerAppNC/ManagerAppNC/obj/
AutomationNC/AutomationNC/AutomationNC/bin/
AutomationNC/AutomationNC/AutomationNC/obj/
AutomationNC/AutomationNC/Core/bin/
AutomationNC/AutomationNC/Core/obj/
AutomationNC/AutomationNC/ScriptDesigner/bin/
AutomationNC/AutomationNC/ScriptDesigner/obj/
msedgedriver.exe
